body {
    background-color: rgb(131, 131, 255);
    font: normal 15pt arial;
}

header {
    color: #fff;
    text-align: center;
}

.vidas {
    margin: auto;
    color: #fff;
}

section {
    background-color: bisque;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0.363);
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}