body {
    background-color: rgb(131, 131, 255);
    font: normal 15pt arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: bisque;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0.363);
}

div {
    text-align: center;
    padding: 8px;
}

#fotos img {
    width: 220px;
    height: 220px;
    border-radius: 100px;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}